.parent-block{
    display: flex;
    margin:0 auto; 
    width: 700px; 
    border-radius: 50px;
    box-shadow: 4px 42px 23px 22px rgba(0, 0, 0, 0.22);
}
.col1{
    
    border-radius: 10px 0 0 10px;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-right: 1px solid gray;
}

.col1 img{
    
    width: 30%;
}
.col2{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    border-right: 1px solid gray;
    
}
.col2 img{
    
    width: 30%;
}
.col3{
    border-radius: 0 10px 10px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    text-align: center;
    
}
.col3 img{
    width: 30%;
    
}
body{
    background-color: rgb(76,97,118);
}

.morebutton button{
    outline: none;
    border: none;
    background: #f63;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 1;
    font-weight: 100;
  }
  