.regbox {
    width: 400px;
    background-color: #09c;
    color: white;
    padding: 10px;
    border: 2px solid #069;
}
.passbox{
    display: flex;
    margin-top: 30px;

}
.repass{
    margin-left: 20px;
}

.sendbutton{
    margin-top: 30px;
}
.sendbutton input {
    background-color: #fc6;
}