.menu {
    background-color: rgb(228, 182, 83);
    width:  200px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 0 brown;
    text-align: left;
    padding: 10px;
}

.menu ul {
    list-style: none;
    color: brown;
    padding: 0;
    margin: 0;
    line-height: 1.6;
}
