body {
    background-color: rgb(51,51,51);
}
.speech-bubble {
    margin-top: 30px;
    position: relative;
    background-color: rgb(136,183,213);
    width: 100%;
    height: 150px;
    line-height: 150px; /* vertically center */
    color: white;
    text-align: center;
    font-family: sans-serif;
    display: table;
    border: 2px solid rgb(194, 225, 245);
  }
   
  .speech-bubble:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 30px solid rgb(51,51,51);
    

  }
   
  /* Position the Arrow */
   
  .speech-bubble-top:after {
    border-bottom-color: rgb(136,183,213);
    left: 50%;
    bottom: 100%;
    margin-left: -15px;
  }
